*.ipch
*.lnk
*.exe
*.opensdf
*.cache
*.sdf
*.zip
*.suo
*.ncb
*.pkg
*.dmg
*.depend
*.layout
*.mode1v3
*.db
*.LSOverride
*.xcworkspace
*xcuserdata*
*.xcschememanagement.plist
.vs
*.vcxproj.user

# vst build folders
_vst*
build-*

# Steinberg SDKs (not allowed to be redistributed)
*/ASIO_SDK/*
!*/ASIO_SDK/README.md
*/VST3_SDK/*
!*/VST3_SDK/README.md
*/VST_SDK/*
!*/VST_SDK/README.md

Icon?
.DS_Stor*

vstsdk-test/*
